<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet "application", 'agustin' %>
    <%= javascript 'mootools-core-1.3.2-full-compat.js' %>
    <%= javascript 'mootools-more-1.3.2.1.js' %>
    <%= javascript 'rails.js' %>
    <%= javascript 'application.js' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">

      <div id="header">
        <div id="header_title">agustinmichaelbrown</div>
        <div id="header_tag_line">...hacking through life</div>
      </div>

      <div id="nav_bar">
        <%= show_blogs %>
      </div>

      <div id="flash_notice"></div>

      <div id="content">
        <%= yield %>
      </div>

    </div>
  </body>
</html>
